### 지도학습

분류 - 이진분류

In [1]:
import pandas as pd

In [2]:
df_TFD = pd.read_csv('../../../datasets/TitanicFromDisaster_train.csv')
df_TFD[:2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [3]:
df_TFD_extract = df_TFD[['Survived','Pclass','Age']]
df_TFD_extract

     Survived  Pclass   Age
0           0       3  22.0
1           1       1  38.0
2           1       3  26.0
3           1       1  35.0
4           0       3  35.0
..        ...     ...   ...
886         0       2  27.0
887         1       1  19.0
888         0       3   NaN
889         1       1  26.0
890         0       3  32.0

[891 rows x 3 columns]

In [6]:
df_TFD_extractd_preprocess = df_TFD_extract.dropna()
df_TFD_extractd_preprocess[:2]

   Survived  Pclass   Age
0         0       3  22.0
1         1       1  38.0

#### 정형화 단계

In [8]:
target_train = df_TFD_extractd_preprocess['Survived'] 
features_train= df_TFD_extractd_preprocess[['Pclass','Age']]
target_train.shape, features_train.shape

((714,), (714, 2))

In [9]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(features_train, target_train)

LogisticRegression()

In [11]:
model.coef_, model.intercept_

(array([[-1.22653571, -0.04149665]]), array([3.532956]))

#### 평가

In [13]:
df_TFD_extractd_preprocess[10:29] # index가 features_train과 같다.

    Survived  Pclass   Age
11         1       1  58.0
12         0       3  20.0
13         0       3  39.0
14         0       3  14.0
15         1       2  55.0
16         0       3   2.0
18         0       3  31.0
20         0       2  35.0
21         1       2  34.0
22         1       3  15.0
23         1       1  28.0
24         0       3   8.0
25         1       3  38.0
27         0       1  19.0
30         0       1  40.0
33         0       2  66.0
34         0       1  28.0
35         0       1  42.0
37         0       3  21.0

In [17]:
model.predict(features_train[10:15])

array([0, 0, 0, 0, 0], dtype=int64)

In [19]:
model.predict_proba(features_train[10:15]) #확률 확인 앞이 0 뒤가 1

array([[0.52507531, 0.47492469],
       [0.72642991, 0.27357009],
       [0.85383733, 0.14616267],
       [0.67427932, 0.32572068],
       [0.768957  , 0.231043  ]])

#### 평가

In [23]:
target_predict = model.predict(features_train)
# target_predict

In [24]:
from sklearn.metrics import accuracy_score

In [26]:
accuracy_score(target_train, target_predict)

0.696078431372549