### 전처리

In [1]:
import pymongo as mg
import pandas as pd

In [8]:
df_BND_M20 = pd.read_csv('../../../datasets/NSC_BND_M20.csv')

C:\Users\01-10\AppData\Local\Temp\ipykernel_12436\1398223696.py:1: DtypeWarning: Columns (3,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_BND_M20 = pd.read_csv('../../../datasets/NSC_BND_M20.csv')

In [11]:
df_BND_M20['SICK_SYM1'].value_counts()
df_BND_M20[:2]

,Unnamed: 0,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,...,OPRTN_YN,MDCARE_DD_CNT,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY
0,0,64e6d1c0b5e01adfd8979e02,294364,1921LE,200707.0,T08-T14,W00-W19,2002080298703,26452,20020830,...,0,1,1,3,5.0,0.15,10590,3000,7590,2002
1,1,64e6d1c0b5e01adfd8979e03,294364,1921LE,200707.0,T08-T14,W00-W19,2002090466395,63715,20020910,...,0,1,1,2,5.0,0.15,16520,4950,11570,2002

In [12]:
len('F_'), len('J209'), 'J209'[:3], str('T18')[:3]

(2, 4, 'J20', 'T18')

In [13]:
def convertSICK_SYM(sick_sym) :
    if len(sick_sym) < 3:
        return None
    else :
        return sick_sym[:3]

In [14]:
convertSICK_SYM('J209'), convertSICK_SYM('F_')

('J20', None)

In [15]:
df_BND_M20['SICK_SYM1_3'] = df_BND_M20['SICK_SYM1'].apply(convertSICK_SYM)

In [16]:
df_BND_M20['SICK_SYM1_3'].value_counts()

J20    8917
I10    8427
J03    4187
M54    3904
J06    3460
       ...
G97       1
K01       1
S28       1
I72       1
P28       1
Name: SICK_SYM1_3, Length: 747, dtype: int64

In [17]:
df_BND_M20_dropna = df_BND_M20.dropna()
df_BND_M20_dropna.isnull().sum()

Unnamed: 0            0
_id                   0
RN_INDI               0
BTH_YYYY              0
DTH_YYYYMM            0
COD1                  0
COD2                  0
RN_KEY                0
RN_INST               0
MDCARE_STRT_DT        0
FORM_CD               0
MCARE_SUBJ_CD         0
SICK_SYM1             0
OFIJ_TYPE             0
OPRTN_YN              0
MDCARE_DD_CNT         0
VSHSP_DD_CNT          0
TOT_PRSC_DD_CNT       0
MCARE_RSLT_TYPE       0
EDC_ADD_RT            0
ED_RC_TOT_AMT         0
EDC_SBA               0
EDC_INSUR_BRDN_AMT    0
STD_YYYY              0
SICK_SYM1_3           0
dtype: int64

In [18]:
df_BND_M20_dropna[:2]

,Unnamed: 0,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,...,MDCARE_DD_CNT,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY,SICK_SYM1_3
0,0,64e6d1c0b5e01adfd8979e02,294364,1921LE,200707.0,T08-T14,W00-W19,2002080298703,26452,20020830,...,1,1,3,5.0,0.15,10590,3000,7590,2002,L02
3,3,64e6d1c0b5e01adfd8979e05,294364,1921LE,200707.0,T08-T14,W00-W19,2002020488631,23506,20020208,...,1,1,3,5.0,0.15,12920,3000,9920,2002,K29

In [19]:
target_list = df_BND_M20_dropna['SICK_SYM1_3'].value_counts().index.to_list()

In [20]:
target_list.index('L02'), target_list.index('J03'),

(83, 6)

In [21]:
def applyIndexNumber(sick_sym_3):
    indexNumber = target_list.index(sick_sym_3)
    return indexNumber

In [22]:
df_BND_M20_dropna['SICK_SYM1_3_target'] = df_BND_M20_dropna['SICK_SYM1_3'].apply(applyIndexNumber)
df_BND_M20_dropna[:2]

C:\Users\01-10\AppData\Local\Temp\ipykernel_12436\836018491.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_BND_M20_dropna['SICK_SYM1_3_target'] = df_BND_M20_dropna['SICK_SYM1_3'].apply(applyIndexNumber)

,Unnamed: 0,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,...,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY,SICK_SYM1_3,SICK_SYM1_3_target
0,0,64e6d1c0b5e01adfd8979e02,294364,1921LE,200707.0,T08-T14,W00-W19,2002080298703,26452,20020830,...,1,3,5.0,0.15,10590,3000,7590,2002,L02,83
3,3,64e6d1c0b5e01adfd8979e05,294364,1921LE,200707.0,T08-T14,W00-W19,2002020488631,23506,20020208,...,1,3,5.0,0.15,12920,3000,9920,2002,K29,8

#### 정형화

In [23]:
df_BND_M20_dropna.columns

Index(['Unnamed: 0', '_id', 'RN_INDI', 'BTH_YYYY', 'DTH_YYYYMM', 'COD1',
       'COD2', 'RN_KEY', 'RN_INST', 'MDCARE_STRT_DT', 'FORM_CD',
       'MCARE_SUBJ_CD', 'SICK_SYM1', 'OFIJ_TYPE', 'OPRTN_YN', 'MDCARE_DD_CNT',
       'VSHSP_DD_CNT', 'TOT_PRSC_DD_CNT', 'MCARE_RSLT_TYPE', 'EDC_ADD_RT',
       'ED_RC_TOT_AMT', 'EDC_SBA', 'EDC_INSUR_BRDN_AMT', 'STD_YYYY',
       'SICK_SYM1_3', 'SICK_SYM1_3_target'],
      dtype='object')

In [26]:
target = df_BND_M20_dropna['SICK_SYM1_3_target']
features = df_BND_M20_dropna[['EDC_ADD_RT','ED_RC_TOT_AMT']]
target.shape, features.shape

((829,), (829, 2))

In [31]:
from sklearn.model_selection import train_test_split
features_train, features_test, target_train, target_test = train_test_split(features, target, random_state=111)
features_train.shape,features_test.shape, target_train.shape, target_test.shape

((621, 2), (208, 2), (621,), (208,))

#### 모델학습

In [34]:
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor

In [35]:
model = DecisionTreeClassifier()

In [36]:
from sklearn.model_selection import GridSearchCV

In [37]:
hyper_parmas = {'min_samples_leaf' : [5,7,9]
                ,'max_depth' : [9,11]
                ,'min_samples_split' : [5,6,7]}

In [ ]:
GridSearchCV(model, param_grid=hyper_parmas)