In [1]:
import pandas as pd

## 병합
https://numpy.org/doc/stable/reference/generated/numpy.concatenate.html

In [3]:
# Sample DataFrames
df1 = pd.DataFrame({'A': [1, 'A_2', 3]}, index=[0, 1, 2])
df2 = pd.DataFrame({'B': [4, 'B_5', 6]}, index=[3, 4, 5])

In [4]:
df1

     A
0    1
1  A_2
2    3

In [5]:
df2

     B
3    4
4  B_5
5    6

In [6]:
pd.concat([df1, df2], axis=1)
# df1과 df2가 가지고 있는 index가 다름. index를 기준으로 병합을 시켜서 없으면 NaN을 넣고 병합시켜버림.

     A    B
0    1  NaN
1  A_2  NaN
2    3  NaN
3  NaN    4
4  NaN  B_5
5  NaN    6

In [11]:
df1.count(), df2.count()

(A    3
 dtype: int64,
 B    3
 dtype: int64)

In [7]:
df1.reset_index(drop=True) # index를 reset시켜주는 작업

   index    A
0      0    1
1      1  A_2
2      2    3

In [8]:
df2.reset_index()

   index    B
0      3    4
1      4  B_5
2      5    6

reset_index() = index를 reset시키지만 기존 index를 보존시텨야 한다는 생각으로 index 컬럼을 만들어서 보존시킴. 우리는 index 컬럼은 필요없으니까 drop을 시켜줄꺼임

In [14]:
df1_reset = df1.reset_index(drop=True)

In [15]:
df2_reset = df2.reset_index(drop=True)

In [16]:
pd.concat([df1_reset, df2_reset], axis=1)

     A    B
0    1    4
1  A_2  B_5
2    3    6